@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
*{color: #ffffff}
ion-content{
    .fundo-branco{
        background-color: #ffffff;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ion-buttons{
        background-image: url('/assets/seta-voltar.png');
        background-size: contain;
        position: absolute;
        background-color: #ffffff00;

        height: 20px;
        width: 20px;
        left: 25px;
        top: 25px;  
    }
    .lanches-titulo{
        font-size: 26px;
        font-weight: 400;        
        font-family: 'Asap';
        font-style: normal;
        text-align: center;
        
        color: #3F3E3E;        
    }
    .img-lojas{
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 150px;
        min-height: 150px;
    }
    .lojas-titulo{
        position: relative;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
    }
    .container-lojas{
        margin: 10px 10px;
        float: left;
    }
    .header{
        width: 100%;
        min-height: 70px;
        margin-bottom: 5px;
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .organizador{
        justify-content: space-between;
        margin-left: 25px;
    }
}