<ion-content>
  <div class="fundo-branco">
    <div class="icone-lupa"></div>
    <ion-label position="stacked"></ion-label>
    <ion-input type="text" placeholder="Busque por loja ou item"></ion-input>
    
    <div class="mcdonald"></div>
    <p class="mcdonald-titulo">McDonald's</p>
    
    <div class="burgerking"></div>
    <p class="burgerking-titulo">Burger King</p>
    
    <div class="jungle-burger"></div>
    <p class="jungle-burger-titulo">Jungle Burger</p>
    
    <div class="habibs"></div>
    <p class="habibs-titulo">Habib's</p>



  </div>
  </ion-content>