@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
*{color: #ffffff}
ion-content{
    .fundo-branco{
        background-color: #ffffff;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 85vw;
    }
    .icone-lupa{
        background-image: url('/assets/search-outline.png');
        background-size: contain;
        position: absolute;

        height: 20px;
        width: 20px;
        left: 25px;
        top: 22px;  
    }
    ion-input{
        position: absolute;
        height: 31px;
        width: 301px;
        left: 54px;
        top: 16px;        

        border-radius: 3px;
        color: #65676D;
        background: #D9D9D9;
    }
    .foto-pizza{
        box-sizing: border-box;

        position: absolute;
        height: 168px;
        width: 168px;
        left: 19px;
        top: 124px;
        border-radius: 30px;        
        
        background: url('/assets/pizza.png');
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
    }
    .foto-hamburguer{
        box-sizing: border-box;
        position: absolute;

        height: 168px;
        width: 169.0059814453125px;
        left: 201px;
        top: 124px;
        border-radius: 30px;        
        
        background: url('/assets/hamburguer.png');
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
    }
    .foto-sorvete{
        box-sizing: border-box;
        position: absolute;

        height: 171px;
        width: 168px;
        left: 19px;
        top: 323px;
        border-radius: 30px;        
        
        background: url('/assets/sorvete.png');
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
    }
    .foto-pudim{
        box-sizing: border-box;
        position: absolute;

        height: 169px;
        width: 168px;
        left: 202px;
        top: 321px;
        border-radius: 30px;            
        
        background: url('/assets/pudim.png');
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
    }
    .texto-categoria{
        position: absolute;
        height: 29px;
        width: 168px;
        left: 111px;
        top: 58px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 25px;
        text-align: center;
        
        color: #3F3E3E;
    }
    .texto-pizza{
        position: absolute;
        left: 7.95%;
        right: 55.13%;
        top: 30.57%;
        bottom: 65.4%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        
        color: #000000;
    }
    .texto-hamburguer{
        position: absolute;
        left: 54.87%;
        right: 8.21%;
        top: 30.57%;
        bottom: 65.4%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        
        color: #000000;
    }
    .texto-sorvete{
        position: absolute;
        left: 7.95%;
        right: 55.13%;
        top: 56.38%;
        bottom: 41.59%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        
        color: #000000;
    }
    .texto-doce{
        position: absolute;
        left: 54.87%;
        right: 8.21%;
        top: 56.5%;
        bottom: 41.47%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        
        color: #000000;
    }
}