<ion-content>
  <div class="fundo-branco">
    <div class="header">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input placeholder="Busque por categoria"></ion-input>
      </div>
    <div class="organizador">
      <div class="container-categoria" *ngFor="let categoria of categorias | async">        
        <img class="img-categoria" [src]="categoria.imagem" (click)="abreLoja(categoria.id)">
        <p class="categoria-titulo" (click)="abreLoja(categoria.id)">{{categoria.nome}}</p>
      </div>
    </div>

  </div>
  </ion-content>
  