<ion-content>
  <div class="fundo-branco">
    <div class="icone-lupa"></div>
    <ion-label position="stacked"></ion-label>
    <ion-input type="text" placeholder="Busque por loja ou item"></ion-input>
    <p class="texto-categoria">Categorias</p>

    <div class="foto-pizza" [routerLink]="['/categorias-pizza']"></div>
    <p class="texto-pizza" [routerLink]="['/categorias-pizza']">Pizzas</p>

    <div class="foto-hamburguer" [routerLink]="['/categorias-burger']"></div>
    <p class="texto-hamburguer" [routerLink]="['/categorias-burger']">Lanches</p>
    
    <div class="foto-sorvete" [routerLink]="['/categorias-sorvete']"></div>
    <p class="texto-sorvete"  [routerLink]="['/categorias-sorvete']">Sorvetes</p>
    
    <div class="foto-pudim" [routerLink]="['/categorias-doce']"></div>
    <p class="texto-doce" [routerLink]="['/categorias-doce']">Doces</p>

  </div>
  </ion-content>
  