<ion-content>
  <div class="fundo-branco">
    <div class="icone-lupa"></div>
    <ion-label position="stacked"></ion-label>
    <ion-input type="text" placeholder="Busque por loja ou item"></ion-input>
    <p class="texto-categoria">Categorias</p>

    <div class="foto-pizza"></div>
    <p class="texto-pizza">Pizzas</p>

    <div class="foto-hamburguer"></div>
    <p class="texto-hamburguer">Lanches</p>
    
    <div class="foto-sorvete"></div>
    <p class="texto-sorvete">Sorvetes</p>
    
    <div class="foto-pudim"></div>
    <p class="texto-doce">Doces</p>

  </div>
  </ion-content>
  