@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
*{color: #ffffff}
ion-content{
    .btn-sair{
        position: absolute;
        width: 40px;
        height: 50.12px;
        left: 21px;
        top: 10.02px;
    }
    .fundo-branco{
        background-color: #ffffff;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 85vw;
    }
    hr{
        width: 90%; height: 1px;
        background-color: #353535;
        margin: 15px 0px;
        z-index: 98;
    }
    .user-name{
        position: absolute;
        width: 206px;
        height: 25px;
        left: 92px;
        top: 23px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #3F3E3E;
    }
    .shopping-cart{
        background-image: url('/assets/shopping_cart.png');
        position: absolute;
        width: 48px;
        height: 48px;
        left: 330px;
        top: 19px;   
    }
    .categorias{
        position: absolute;
        width: 143px;
        height: 36px;
        left: 18px;
        top: 79px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 33px;
        color: #3F3E3E;
    }
    .foto-restaurante{
        background-image: url('/assets/categoria-restaurante.png');
        background-size: contain;
        box-sizing: border-box;
        position: absolute;
        width: 94px;
        height: 84px;
        left: 22px;
        top: 145px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        
    }
    .foto-pizzaria{
        background-image: url('/assets/categoria-pizzaria.png');
        background-size: contain;
        box-sizing: border-box;
        position: absolute;
        width: 95px;
        height: 84px;
        left: 147px;
        top: 145px;
        
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
    .foto-hamburgueria{
        background-image: url('/assets/categoria-hamburgueria.png');
        box-sizing: border-box;
        background-size: contain;
        position: absolute;
        width: 95px;
        height: 85px;
        left: 273px;
        top: 144px;

        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
    .texto-restaurante{
        position: absolute;
        left: 5.64%;
        right: 70.26%;
        top: 28.61%;
        bottom: 70.85%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        color: #3F3E3E;
    }
    .texto-pizzaria{
        position: absolute;
        left: 37.95%;
        right: 37.95%;
        top: 28.61%;
        bottom: 70.85%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        color: #3F3E3E;
    }
    .texto-hamburgueria{
        position: absolute;
        left: 69.49%;
        right: 6.41%;
        top: 28.61%;
        bottom: 70.85%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 14.5px;
        line-height: 14px;
        text-align: center;
        color: #3F3E3E;
    }
    .destaques{
        position: absolute;
        width: 138px;
        height: 36px;
        left: 18px;
        top: 261px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 33px;
        color: #3F3E3E;
    }
    .cartaopromo1{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        left: 3.08%;
        right: 52.56%;
        top: 42.01%;
        bottom: 46.56%;
        
        background-image: url(/assets/cartaopromo1.png);
        border-radius: 3px;
    }
    .cartaopromo2{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        left: 51.05%;
        right: 2.59%;
        top: 42.01%;
        bottom: 46.56%;
        
        background-image: url(/assets/cartaopromo2.png);
        border-radius: 3px;
    }
    .cartaopromo3{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        left: 51.05%;
        right: 2.59%;
        top: 55.66%;
        
        background-image: url(/assets/cartaopromo1.png);
        border-radius: 3px;
    }
    .cartaopromo4{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        left: 2.59%;
        right: 51.05%; 
        top: 55.66%;
        
        background-image: url(/assets/cartaopromo2.png);
        border-radius: 3px;
    }.cartaopromo5{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        left: 2.59%;
        right: 51.05%; 
        top: 68.86%;
        
        background-image: url(/assets/cartaopromo1.png);
        border-radius: 3px;
    }.cartaopromo6{
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 90px;

        right: 2.59%;
        left: 51.05%; 
        top: 68.86%;
        
        background-image: url(/assets/cartaopromo2.png);
        border-radius: 3px;
    }
    .texto1{
        position: absolute;
        width: 90px;
        height: 63px;
        left: 99px;
        top: 354px;

        top: 42.01%;
        bottom: 46.56%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        
        color: #ffffff;
    }
    .texto2{
        position: absolute;
        width: 90px;
        height: 63px;
        left: 287px;
        top: 350px;
        
        top: 41.01%;
        bottom: 46.56%;

        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 25px;
        
        color: #FFFFFF;
    }
    .texto3{
        position: absolute;
        width: 90px;
        height: 63px;
        top: 422px;
        left: 282px;
        top: 55.66%;

        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;        
        color: #FFFFFF;
    }
    .texto4{
        position: absolute;
        width: 90px;
        height: 63px;
        top: 422px;
        left: 89px;
        top: 54.66%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;        
        color: #FFFFFF;
    }
        .texto5{
        position: absolute;
        width: 100px;
        height: 63px;
        top: 422px;
        left: 89px;
        top: 68.66%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;        
        color: #FFFFFF;
    }
    .texto6{
        position: absolute;
        width: 100px;
        height: 63px;
        top: 422px;
        left: 282px;
        top: 68.66%;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;        
        color: #FFFFFF;
    }
}