<ion-content *ngIf="auth.user | async as user">
  <ion-button class="btn-sair" expand="block" type="submit" shape="square" Strong (click)="logout()">Sair</ion-button>
  <div class="fundo-branco">
    <div class="shopping-cart" [routerLink]="['/carrinho']"></div>
    <h1 class="user-name">Olá, {{user.displayName}}</h1>
    <h1 class="categorias">Categorias</h1>

    <div class="foto-restaurante"></div>
    <p class="texto-restaurante">Restaurante</p>

    <div class="foto-pizzaria"></div>
    <p class="texto-pizzaria">Pizzaria</p>

    <div class="foto-hamburgueria"></div>
    <p class="texto-hamburgueria">Hamburgueria</p>

    <h1 class="destaques">Destaques</h1>

    <div class="cartaopromo1"></div>
      <p class="texto1" *ngFor="let produto of produtos | async">{{produto.nome}}
        <br>R$ {{produto.valor}}
      </p> 
    
    <div class="cartaopromo2"></div>
    <p class="texto2" *ngFor="let produto of produtos | async">{{produto.nome2}}
      <br>POR ATÉ R$ {{produto.valor2}}
    </p>

    <div class="cartaopromo3"></div>
    <p class="texto3" *ngFor="let produto of produtos | async">{{produto.nome3}}
      <br>R$ {{produto.valor3}}
    </p>

    <div class="cartaopromo4"></div>
    <p class="texto4" *ngFor="let produto of produtos | async">{{produto.nome4}}
      <br>POR ATÉ R$ {{produto.valor4}}
    </p>

    <div class="cartaopromo5"></div>
    <p class="texto5" *ngFor="let produto of produtos | async">{{produto.nome5}}
      <br>R$ {{produto.valor5}}
    </p>

    <div class="cartaopromo6"></div>
    <p class="texto6" *ngFor="let produto of produtos | async">{{produto.nome6}}
      <br>R$ {{produto.valor6}}
    </p>



  </div>
  </ion-content>
  