@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
*{color: #ffffff}
ion-content{
    .fundo-branco{
        background-color: #ffffff;
        background-size: cover;
        background-repeat: repeat-y;
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 85vw;
    }
    .perfil{
        position: absolute;
        width: 145px;
        height: 25px;
        left: 122px;
        top: 17px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        
        color: #3F3E3E;
    }
    .icone-perfil{
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 250px;
        height: 271px;
        left: 70px;
        top: 68px;     
        border-radius: 50%;   
    }
    .user-name{
        position: absolute;
        width: 145px;
        height: 25px;
        left: 122px;
        top: 330px;
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #3F3E3E;        
    }
    .label-info{
        position: absolute;
        height: 24px;
        width: 119px;
        left: 37px;
        top: 398px;      
        
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        
        color: #000000;
    }
    .caixa-texto{
        box-sizing: border-box;

        position: absolute;
        height: 103px;
        width: 313px;
        left: 37px;
        top: 430px;
        border-radius: 3px;
        color: #65676D;
        border: 1px solid #FF1A1A;
    }
}